{% extends "@HostAndGuest/layout3.html.twig" %}

{% block contenu %}
<div class="new">
    <div class="container" >
{% include "@FOSUser/Registration/register_content.html.twig" %}
    </div>
</div>
{% endblock %}
